body {
  background: rgb(190,228,242);
  background: radial-gradient(circle, rgba(190,228,242,1) 0%, rgba(255,255,255,1) 23%, rgba(190,228,242,1) 100%);
}
#titleQuestion {
  text-align: center;
  margin: 50px;
  color: blue;
}
.emphasis {
  color: navy;
}
#selectionArea {
  margin: auto;
  max-width: 70%;
  background-color: rgb(255,255,255, .4);
  border-radius: 2%;
}
#fullDegreeOptions {
  margin: 50px;
  text-align: center;
}
#fullDegreeOptions h3 {
  color: blue;
}
.policy-button-top:visited {
  fill: grey;
}
#courseOptions {
  margin: 20px;
  font-size: 1.5em;
}
.btn {
  margin: 20px;
}